[package]
name = "externalip-manager"
version = "0.5.2"
edition = "2024"
description = "Manage ExternalIP assignments on Kubernetes Services"

[dependencies]
anyhow = "1.0.95"
clap = { version = "4.5.28", features = ["derive", "env", "string"] }
tokio = { version = "1.43.0", features = ["full"] }
k8s-openapi = { version = "0.26.0", features = ["schemars", "v1_30"] }
tracing-subscriber = { version = "0.3.19", features = ["env-filter", "json"] }
tracing = "0.1.41"
externalip-manager-manager = { path = "../manager" }
